<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/music">List Music</a>
<th:block th:if="${message}">
    <p th:text="${message}" style="color: limegreen" ></p>
</th:block>
<form th:action="@{/create-music}" th:object="${music}" method="post">
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="text" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td>name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{singer}"/></td>
        </tr>
        <tr>
            <td>Discription:</td>
            <td><input type="text" th:field="*{type}"/></td>
        </tr>
        <tr>
            <td>Prodedures:</td>
            <td><input type="text" th:field="*{link}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>