<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<a href="/music">List Music</a>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<body>
<form th:action="@{/edit-music}" th:object="${music}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <table>

            <tr>
                <td>name:</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="text" th:field="*{singer}"/></td>
            </tr>
            <tr>
                <td>Discription:</td>
                <td><input type="text" th:field="*{type}"/></td>
            </tr>
            <tr>
                <td>Prodedures:</td>
                <td><input type="text" th:field="*{link}"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Update"></td>
            </tr>
        </table>
    </table>
</form>
</body>
</html>